

.button {
    -fx-font-family: Press Start 2P;
    -fx-background-color: rgba(26, 60, 80, 0.75);
    -fx-pref-width: 250px;
    -fx-pref-height: 50px;
    -fx-text-fill: #cf482e;
    -fx-font-size: 20px;
    -fx-border-width: 3px;
    -fx-border-color: #fbad00;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-padding: 4 10 4 10;
}

.root {
    -fx-font-family: "Press Start 2P";
}

.bg {
    -fx-background-image: url("MenuBackground.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.button:hover {
    -fx-border-color: #855c00;
    -fx-text-fill: #cf482e;
    -fx-pref-width: 265px;
}

.choice-box {
    -fx-font-family: Press Start 2P;
    -fx-background-color: rgba(26, 60, 80, 0.75);
    -fx-pref-height: 50;
    -fx-pref-width: 250;
    -fx-text-fill: #cf482e;
    -fx-font-size: 15px;
    -fx-border-width: 3px;
    -fx-border-color: #fbad00;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-padding: 4 10 4 10;
}

.choice-box .context-menu {
    -fx-background-color: rgba(26, 60, 80, 0.75);
    -fx-border-width: 3px;
    -fx-border-color: #fbad00;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-pref-height: 165;
    -fx-pref-width: 250;
}

.choice-box .menu-item {
    -fx-background-color: rgba(26, 60, 80, 0.75);
    -fx-text-fill: #cf482e;
    -fx-background-radius: 6px;
    -fx-pref-height: 50;
    -fx-pref-width: 250;
}

.choice-box .menu-item:hover {
    -fx-background-color: rgba(26, 60, 80, 0.75);
    -fx-pref-height: 50;
    -fx-pref-width: 250;
}
.choice-box .menu-item .label {
    -fx-background-color: rgba(26, 60, 80, 0.75);
    -fx-text-fill: #cf482e;
    -fx-background-radius: 6px;
    -fx-pref-height: 50;
    -fx-pref-width: 500;
}
.choice-box .label{
    -fx-text-fill: #cf482e;
    -fx-font-size: 20px;
}


.text-field{
    -fx-font-family: "Press Start 2P";
    -fx-max-width: 250px;
    -fx-pref-height: 50px;
    -fx-font-size: 20px;
    -fx-border-color: #fbad00;
    -fx-border-width: 3px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-background-color: rgba(26, 60, 80, 0.75);
    -fx-text-fill: #cf482e;
    -fx-padding: 4 10 4 10;
}

.scroll-bar {
    -fx-max-width: 250px;
    -fx-pref-height: 50px;
    -fx-font-size: 20px;
    -fx-border-color: #fbad00;
    -fx-border-width: 3px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-background-color: rgba(26, 60, 80, 0.75);
    -fx-text-fill: #cf482e;
    -fx-padding: 4 10 4 10;
}